src/bin/*
src/*/*/cmdb_*
src/apiserver/*apiserver
src/apiserver/cmdb_*
src/scene_server/*/*server
src/scene_server/*/*collection
src/source_controller/*/*controller
src/source_controller/*/coreservice
src/web*/*server
src/web*/cmdb_*
*exvim*

.DS_Store
.vscode
.idea
src/scene_server/admin_server/conf/
src/web_server/logs/
src/scene_server/*/logs
/pid